services:
    idapro-tests:
        image: ghcr.io/w00tzenheimer/idapro-linux:idapro-tests-9.2-py312
        entrypoint: ["python3"]
        working_dir: /work
        environment:
            - CONTAINER_TIMEZONE=America/Los_Angeles
            - DISPLAY=host.docker.internal:0
            - QT_X11_NO_MITSHM=1
            - LIBGL_ALWAYS_INDIRECT=1
            - IDAUSR=/root/.idapro
            - IDA_INSTALL_DIR=/app/ida
            - LD_LIBRARY_PATH=/app/ida
            - PYTHONPATH=/app/ida/python:/work
            - PYTHONWARNINGS=ignore
            - D810_BUILD_SPEEDUPS=1
        volumes:
            - ./src/:/root/.idapro/plugins:ro # the plugin
            - ./:/work # the test suite to operate on

    idapro-tests-9.2:
        image: ghcr.io/w00tzenheimer/idapro-linux:idapro-tests-9.2-py312
        entrypoint: ["python3"]
        working_dir: /work
        environment:
            - CONTAINER_TIMEZONE=America/Los_Angeles
            - DISPLAY=host.docker.internal:0
            - QT_X11_NO_MITSHM=1
            - LIBGL_ALWAYS_INDIRECT=1
            - IDAUSR=/root/.idapro
            - IDA_INSTALL_DIR=/app/ida
            - LD_LIBRARY_PATH=/app/ida
            - PYTHONPATH=/app/ida/python:/work
            - PYTHONWARNINGS=ignore
            - D810_BUILD_SPEEDUPS=1
        volumes:
            - ./src/:/root/.idapro/plugins:ro # the plugin
            - ./:/work # the test suite to operate on

volumes:
    idausr:
